a{
    color:#000 !important;
}
.la-margin-top{
    margin-top: 60px;
}
.la-navbar-blue{
    background-color: #00bcd4 !important;
    border-color: transparent !important;
}
.card{
    float: left;
    width: 100%;
    background-color: #fff;
}
.card-header{
    float: left;
    width: 100%;
    border-bottom: 1px solid #ccc;
    padding: 1rem;
}
.card-header-icons{
    float: left;
    width: 10%;
    text-align: center;
    padding-top: 0.4rem;
}
.card-header-title{
    float: left;
    width: 90%;
    font-size: 14pt;
}
.card-body{
    float: left;
    width: 100%;
    padding: 1rem;
}
.card-footer{
    float: left;
    width: 100%;
    padding: 1rem;
    border-top: 1px solid #ccc;
}
.m-l-1{
    margin-right:1rem;
}
.p-a-0{
    padding: 0px !important;
}
.m-a-0{
    margin: 0 !important;
}
.m-t-1{
    margin-top: 1rem !important;
}
.m-l-1{
    margin-left: 1rem;
}
.m-l-2{
    margin-left: 2rem;
}
.m-r-1{
    margin-right: 1rem !important;
}
.m-b-1{
    margin-bottom: 1rem !important;
}
.p-a-1{
    padding: 1rem !important;
}
.p-l-0{
    padding-left: 0px !important;
}
.p-r-0{
    padding-right: 0px !important;
}
.p-t-1{
    padding-top: 1rem !important;
}
.b-a-0{
    border: none !important;
}
.br-a-0{
    border-radius: 0px !important;
}
.shadow--2dp {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12); }

.shadow--3dp {
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 3px 3px -2px rgba(0, 0, 0, 0.2), 0 1px 8px 0 rgba(0, 0, 0, 0.12); }

.shadow--4dp {
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2); }

.shadow--6dp {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.2); }

.shadow--8dp {
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2); }

.shadow--16dp {
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2); }

.shadow--24dp {
    box-shadow: 0 9px 46px 8px rgba(0, 0, 0, 0.14), 0 11px 15px -7px rgba(0, 0, 0, 0.12), 0 24px 38px 3px rgba(0, 0, 0, 0.2); }

.cursor-point{
    cursor: pointer;
}
.d-block{
    display: block
}