<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
    <div class="card">
        <div class="card-header color-bg-red">
            <div class="card-header-title">
                Comprimisso Muito Importante
            </div>
            <div class="card-header-icons">
                <i class="fa fa-times" aria-hidden="true"></i>
            </div>
        </div>
        <div class="card-body">
            <div class="text-center">
                <h4>
                    <span class="p-a-1 color-bg-red">07/12/2017</span>
                </h4>
            </div>
            <div class="p-a-1"><b>Acabar sistema de Agendamento</b></div>
        </div>
        <div class="card-footer">
                <div class="text-color-bg-red"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Urgente e Importante</div>
        </div>
    </div>
</div>
<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
</div>
<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
</div>
<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
</div>
    
