<div class="container">   
    <!-- Facilitador das informações -->
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-body">
                <h4 class="">Facilitador de agenda Responda estas perguntas antes de inserir as informações da agenda:</h4>
            </div>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 p-l-0">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h4>É necessario consumir muito recuso para efetuar a tarefa?</h4>
                    <div>
                        <input type="radio" name="" value=""> Sim
                    </div>
                    <div>
                        <input type="radio" name="" value=""> Não
                    </div>
                    <div>
                        <input type="radio" name="" value=""> Talvez
                    </div>
                    <div>
                        <input type="radio" name="" value=""> Não tenho certeza
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 p-l-0">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h4>Esta Tarefa vai atrapalhar outra Tarefa ?</h4>
                    <div>
                        <input type="radio" name="" value=""> Sim
                    </div>
                    <div>
                        <input type="radio" name="" value=""> Não
                    </div>
                    <div>
                        <input type="radio" name="" value=""> Talvez
                    </div>
                    <div>
                        <input type="radio" name="" value=""> Não tenho certeza
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 p-l-0">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h4>Outras atividades Depende desta Atividade/Tarefa ?</h4>
                    <div>
                        <input type="radio" name="" value=""> Sim
                    </div>
                    <div>
                        <input type="radio" name="" value=""> Não
                    </div>
                    <div>
                        <input type="radio" name="" value=""> Talvez
                    </div>
                    <div>
                        <input type="radio" name="" value=""> Não tenho certeza
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 p-l-0">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h4>Outras tarefas Depende desta Tarefa ?</h4>
                    <div>
                        <input type="radio" name="" value=""> Sim
                    </div>
                    <div>
                        <input type="radio" name="" value=""> Não
                    </div>
                    <div>
                        <input type="radio" name="" value=""> Talvez
                    </div>
                    <div>
                        <input type="radio" name="" value=""> Não tenho certeza
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 p-l-0">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h4>O prazo para esta tarefa é curto?</h4>
                    <div>
                        <input type="radio" name="" value=""> Sim
                    </div>
                    <div>
                        <input type="radio" name="" value=""> Não
                    </div>
                    <div>
                        <input type="radio" name="" value=""> Talvez
                    </div>
                    <div>
                        <input type="radio" name="" value=""> Não tenho certeza
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 p-l-0">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h4>Esta tarefa ira lhe trazer prejuizo?</h4>
                        <div>
                            <input type="radio" name="" value=""> Sim
                        </div>
                        <div>
                            <input type="radio" name="" value=""> Não
                        </div>
                        <div>
                            <input type="radio" name="" value=""> Talvez
                        </div>
                        <div>
                            <input type="radio" name="" value=""> Não tenho certeza
                        </div>
                    </div>
                </div>
            </div>

    </div>
    <!-- From Principal -->
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="row">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <!-- Alinhamento para a coluna principal -->
                        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"></div>
                        <!-- Coluna Principal -->
                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                            <!-- Parte da Craição da tarefa -->
                            <form action="" method="POST" role="form">
                                <legend>Insire as informações de sua tarefa/Atividade</legend>
                            
                                <div class="form-group">
                                    <label for="">Titulo da tarefa</label>
                                    <input type="text" class="form-control" >
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 p-a-0">
                                    <div class="form-group">
                                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 p-l-0">
                                            <label for="">Data da tarefa</label>
                                            <input type="text" id ="data" class="form-control" >
                                        </div>
                                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 p-r-0">
                                            <label for="">Hora da tarefa</label>
                                            <input type="text" id="Hora" class="form-control" >
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="">Informações relevantes a tarefa</label>
                                    <textarea name="" class="form-control" id="" cols="30" rows="10"></textarea>
                                </div>
                                <div class="text-right">
                                    <button type="reset" class="btn btn-warning">Limpar</button>
                                    <button type="submit" class="btn btn-primary">Criar</button>
                                </div>                               
                            </form>
                        </div>
                        <!-- Alinhamento para a coluna principal -->
                        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>