    <div class="la-content-login center-block">
        <div class="">
            <h2><i class="fa fa-list-alt" aria-hidden="true"></i> Facilitador de Agendas</h2>
        </div>
        <div class="la-div-separator"></div>
        <div class="">
            <form novalidate >
                <div class="form-group">
                    <label for="">Seu Usuario</label>
                    <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">
                                <i class="fa fa-user-o" aria-hidden="true"></i>
                            </span>
                            <input type="text" class="form-control"  ng-model="vm.username" required />
                        </div>
                </div>
                <div class="form-group">
                    <label for="">Sua senha</label>
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1">
                            <i class="fa fa-key" aria-hidden="true"></i>
                        </span>
                        <input type="password" class="form-control" id="password" ng-model="vm.password" required />
                    </div>
                </div>
                <div class="text-right">
                    <button type="submit" ng-click="vm.Submit()" class="btn btn-primary">Enviar</button>
                    <button type="reset" class="btn btn-warning">Limpar</button>
                </div>
            </form>
        </div>
    </div>
